# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ mongod_db_path }}
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ mongod_system_log_path }}/mongod.log

# network interfaces
net:
# TODO default mongod port depends on sharding cluster role,
# we need to take it into account
  port: {{ mongod_port }}
  bindIp: {{ mongod_bind_ip }}

#processManagement:

#security:

#operationProfiling:

# {% if mongo_repl_set_name %}
# replication:
#   replSetName: {{ mongo_repl_set_name }}
# {% endif %}

# {% if mongod_sharding_cluster_role is defined %}
# sharding:
#   clusterRole: {{ mongod_sharding_cluster_role }}
# {% endif %}
